<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <p>Hi,</p>
    <p>Thanks for using our services at hntTax to compile your HNT mining rewards summary. We didn't find any Helium rewards for the wallet address {{ wallet }} for tax year {{ year }}.</p>
    <p>Our team of Certified Public Accountants (CPAs) at hntTax are available to help you with preparing the forms needed to report your Helium mining activity for this tax year. If you pay US taxes, and this is something that would be helpful to you, please view our 
        <a href="https://hnttax.us/services">services</a> page to learn more.
    </p>

    <p>---</p>
    <p>The team @ hntTax</p>
    <p><a href="https://hnttax.us">hntTax.us</a></p>
    <br>
    <p>PS - If you find our services helpful, we accept tips in HNT here! </p>
    <img src="cid:{qrcode_cid}" />
  </body>
</html>